@charset "utf-8";
@import url(./reset.css);

:root {
    --primary-dark: #202124;
    --secondary-dark-color: #ffffff0d;
    --light-color: #f3f9ff;
    --primary-blue: #c4dfff;
    --secondary-blue: rgb(0, 119, 198);
    --primary-green: rgb(170 204 55);
    --secondary-green: #3eb667;
    --primary-red: #f05033;
    --secondary-red: #db2806;
    --primary-orange: #f90;
    --secondary-orange: rgb(212, 127, 0);
    --primary-purple: #90f;
}

body {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/nouveautes-2018-2x.png);
    background-repeat: round;
    overflow: hidden;
}

header {
    height: 0px;
}

main {
    min-height: 100dvh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

h1 {
    color: var(--primary-orange);
    font-size: 42px;
}

h1, h2 {
    font-family: 'Londrina Solid', sans-serif;
}

.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    flex-direction: row;
}

.game-header img {
    border-radius: 50%;
    width: 75px;
}

input, button {
    padding: 7px 15px;
    border-radius: 4px;
    height: 42px;
    width: auto;
    transition: all 0.5s ease;
    width: auto;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
}

i.fa-solid.fa-rotate-left {
    margin-right: 5px;
    font-size: 14px;
}

.primary-button {
    background-color: var(--primary-red);
    color: var(--light-color);
}

.primary-button:hover {
    background-color: var(--secondary-red);
}

.secondary-button {
    background-color: var(--primary-green);
    color: var(--light-color);
}

.secondary-button:hover {
    background-color: var(--secondary-green);
}

/* Modal */
.modal-wrapper {
    position: relative;
    margin-inline: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 600px;
    height: 300px;
    padding: 20px;
    background-color: rgb(62 182 103 / 60%);
    border-radius: 6px;
    z-index: 2;
}


/* Flip animation styles */
.modal-container {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.modal.hidden .modal-container {
    transform: rotateY(180deg);
}

.modal-front,
.modal-back {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.modal-back {
    display: flex;
    flex-direction: column;
}

/* .modal-back {
    transform: rotateY(180deg);
} */

/* Header and content styles */
.modal .modal-header, .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-header {
    font-size: 34px;
    color: var(--primary-orange);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 22px 15px;
    justify-content: center;
    color: var(--light-color);
}

.modal-front .modal-content{
    align-items: flex-start;
}

.modal-content p {
    text-align: center;
}


.modal-content span {
    color: var(--primary-orange);
    font-weight: 600;
}

.modal-content li {
    font-size: 14px;
}

.modal-front .modal-content h3, .modal-content li {
    text-align: left;
}

.modal-back .modal-content h3 {
    text-align: center;
}


span#countdown-start {
    font-size: 42px;
    color: var(--light-color);
    background-color: var(--primary-red);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add any additional styles for the modal footer or other elements */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

.modal-close {
    padding: 5px 10px;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
}

/* Input/Guess */

.guess-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    height: 100dvh;
}

.guess-card, .score-card {
    position: relative;
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 600px;
    gap: 15px;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
}

.score-card {
    background-color: #e78b00ab;
    margin-top: 20px;
    width: 250px;
    color: var(--light-color);
    gap: 0px;
    position: absolute;
    bottom: 10px;
}

.score-card h3 {
    color: var(--secondary-red);
    font-size: 24px;
}

#game-score, #game-date {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

#timer, #countdown-start {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--primary-orange);
    border-radius: 50%;
    padding: 15px;
    color: var(--light-color);
    width: 100px;
    margin-inline: auto;
}

#word-output, #tap-touche {
    font-family: 'Londrina Solid', sans-serif;
    text-transform: uppercase;
    color: var(--light-color);
}

#word-output {
    font-size: 64px;
    line-height: 60px;
}

div#word-count {
    color: var(--light-color);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
}

input#tap-touche {
    height: 42px;
    width: 300px;
    text-align: center;
    margin-inline: auto;
    background-color: rgb(255 255 255 / 75%);
    color: var(--primary-orange);
}

button#play-again {
    visibility: hidden;
}